body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

hr {
    display: flex;
    background-color: #D66853;
    height: 3px;
    margin: 20px auto 20px auto;
    border: none;
    width: 500px;
}    

.top-container {
    background-color: #404258;
    position: relative;
    padding: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.self-img {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 0;
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

h1 {
    color: #66BFBF;
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    margin: 50px auto 0 auto;
    /* margin-top: 50px; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;   
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: normal;
}

a {
    color: #11999E;
}

.body {
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.pro {
    text-decoration: underline;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    text-align: center; 
}

.para {
    text-align: left;
}

.sub-text {
    text-align: left;
}

.profile {
    text-align: center;
}

p {
    color: #40514E;
}

.footer-link {
    text-align: center;
    color: #11999E;
}